<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<div class="page-header">
  <div class="container">
    <h1>Navigate</h1>
    <div class="navLinks">
      <a routerLink="/search">Search</a>
      <a routerLink="/artists">Artists</a>
      <a routerLink="/albums">Albums</a>
      <a routerLink="/tracks">Tracks</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
